@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Chewy', cursive;
    background-color: #f0f8ff;
    background-image: url('pinkbackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgba(255, 192, 203, 0.9); 
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #ff69b4;
}

.input-box {
    margin: 15px 0;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ff69b4;
    outline: none;
    font-size: 1em;
    color: #333;
}

.btn {
    background-color: #ff69b4;
    color: #FFF2F4;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff1493;
}
